body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #061522;
}

.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(+45deg);
    box-shadow: 10px 10px 90px #f20044;
    animation: heart-beat 0.6s linear infinite;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
}

.heart:before {
    top: -50%;
    left: 0;
    border-radius: 50%;
}

.heart:after {
    left: -50%;
    top: 0;
    border-radius: 50%;
}

@keyframes heart-beat {
    0%,
    100% {
        transform: rotate(45deg) scale(1);
    }
    50% {
        transform: rotate(45deg) scale(1.07);
    }
}
